.Player{
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column: 2;
    width: 60%;
    height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
    
    display: flex;
    justify-content: center;
    align-items: center;
    animation: blink 0.8s linear ;
}
.Player img {

    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
    background: none;
    background-size: cover;
    background-position: center;
}
.alert{
    background: url('../../../Assets/Alert.png');
    background-size: cover;
    background-position: center;
}
@keyframes jump {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0%); ;
    }
    40% {
        transform: translateY(-20%); ;
    }

}
.jump {
    animation: jump 0.8s;
}
.Player canvas {
    filter: drop-shadow(0px 0px  10px rgb(0, 0, 0));
    width: 100%;
    height: auto;
    align-self: flex-end;
    justify-self: flex-end;
}
.Seguradoras {
    filter: drop-shadow(0px 0px  10px rgb(0, 0, 0));

    grid-column-start: 2;
  
    grid-row-start: 3;


    width: 100%;
    height: 100%;
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
    display: flex;
    animation: blink 0.8s linear ;
}
.Seguradoras canvas {
    width: 100%;
    height: 60%;
    mix-blend-mode: multiply;
    background: none;
    background-size: cover;
    align-self: flex-end;
    justify-self: flex-end;
    background-position: center;
}