.Player{
    grid-row: 3;
    grid-column: 2;
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;


    justify-self: flex-end;
    align-self: flex-end;
    animation: blink 0.8s linear ;
}
.Player img {

    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
    background: none;
    background-size: cover;
    background-position: center;
}
.alert{
    background: url('../../../Assets/Alert.png');
    background-size: cover;
    background-position: center;
}
@keyframes jump {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0%); ;
    }
    40% {
        transform: translateY(-50%); ;
    }

}
.jump {
    animation: jump 0.8s;
}
.Player img {
    width: 100%;
}
.Seguradoras {

    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;


    width: 100%;
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;

    animation: blink 0.8s linear ;
}
.Seguradoras img {
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
    background: none;
    background-size: cover;
    background-position: center;
}