.Player{
    width: 20%;
    max-width: 150px;
    -webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
}
@keyframes jump {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-50px);
    }
   
}
.jump {
    animation: jump 0.8s;
}
.Player img {
    width: 100%;
}