.SinglePlayerGame{
    
    width: 100vw;
    height: 100vh;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;

    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

    display: grid;
    justify-items: start;
    align-content: center;

    background: #85e1fd21;
    grid-template-rows: 80px calc(100vh - 80px);
    grid-template-columns: 1fr;
}
.GameArea{
    overflow: hidden;

    display: grid;
    grid-template-rows: 2fr 1fr;

    width: 100%;
    height: 90%;
    gap: 10px;
    
    flex-direction: column;
    justify-items: center;
    align-items: center;
    
}
.GameArea .Game{
    background-color: white;
    border: 5px solid black;
    
    justify-items: center;
    align-items: center;

    gap: 20px;
    width: 80%;
    max-width: 500px;
    aspect-ratio: 9/9;
    flex-wrap: wrap;
    border-radius: 5px;

    background: red;
    background: url('../../Assets/Cenario.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.GameArea .GameControls{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%    ;
    gap: 20px;
    max-width: 800px;

    flex-wrap: wrap;
}
.GameArea .GameControls h1{
    margin: 0%;
    font-size: 40px;
    padding: 0%;
    background-color: #85e1fd;

}
.GameControlsButtons{
    border-radius: 5px;
    background-color: #85e1fd;

 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width:80%;
    height: 100%;
    max-height: 120px;
    flex-wrap: wrap;

}
.IndicadorVisual{
    max-height: 60px;
    height: 90%;
    width: 20%;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
}

.SinglePlayerGame header{
    

    width: 100%;
    height: 100%;
    background-color: #85e1fd;

  
    box-shadow: -2.5px 2.5px 5px gainsboro ;
    align-items: center;
    align-content:center;
    gap: 5px;
    justify-items: center;
    justify-content: center;

    display: grid;
    grid-template-columns: 5% 70px 1fr;
}
.SinglePlayerGame header section{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 3;
    gap: 5px;
    width: 100%;
    height:100%;
    margin: 0%;
    padding: 0%;    
    
    flex-direction: column;
}

.SinglePlayerGame header section h1{
    margin: 0%;
    padding: 0%;

    font-size: large;
    align-self: center;
    justify-self: flex-end;
}
.SinglePlayerGame header button{
    align-self: center;
    grid-row: 1;
    grid-column: 2;
    width: 100%;
    height: 100%;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 5px solid black;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    background-color: rgb(2, 182, 182);

}
