.SinglePlayerGame{
    
    width: 100vw;
    height: 100vh;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;

    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    animation: fadein 3s;

    display: grid;
    justify-items: start;
    align-content: center;

    background: #85e1fd21;
    grid-template-rows: 80px calc(100vh - 80px);
    grid-template-columns: 1fr;
    
}
.Contador{
    grid-row-start: 1;
    grid-row-end:4;
    grid-column-start: 1;
    grid-column-end: 4;
    width: 100%;
    height: 100%;
    z-index: 10;
    backdrop-filter: blur(15px);

    display: flex;
    align-items: center;
    justify-content: center;
}
.Contador div{
    width: 50%;
    height: 20%;
    font-size: 30pt;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.GameArea{
    overflow: hidden;

    display: grid;
    grid-template-rows: 2fr 1fr;

    width: 100%;
    height: 90%;
    gap: 10px;
    
    flex-direction: column;
    justify-items: center;
    align-items: center;
    
}
.GameArea .Game { 
    background-color: white;
    border: 5px solid black;
    box-shadow: 5px 5px 15px gray;

    justify-items: center;
    align-items: center;

    gap: 20px;
    width: 80%;
    max-width: 500px;
    aspect-ratio: 9/9;
    flex-wrap: wrap;
    border-radius: 5px;

    background: white;
   

    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
}
.GameCenario1{
    background: url(/src//Assets/Cenarios/1.png) !important;  
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}
.GameCenario2{
    background: url(/src//Assets/Cenarios/2.png) !important;  

    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}
.GameCenario3{
    background: url(/src//Assets/Cenarios/3.png) !important;  

    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}
.GameArea .GameControls{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%    ;
    gap: 20px;
    max-width: 800px;

    flex-wrap: wrap;
}
.GameArea .GameControls h1{
    margin: 0%;
    font-size: 40px;

    background-color: #85e1fd;

}
.GameControlsButtons{
    border-radius: 5px;
    border: 5px solid black;
    background-color: #85e1fd;
    box-shadow: 5px 5px 15px gray;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width:80%;
    height: 100%;
    max-height: 120px;
    flex-wrap: wrap;

}
.IndicadorVisual{
    max-height: 60px;
    height: 90%;
    width: 20%;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80px;

    border: 5px solid black;
}

.SinglePlayerGame header{
    

    width: 100%;
    height: 100%;
    background-color: #85e1fd;
    opacity: 0.8;
 
    box-shadow: -2.5px 2.5px 5px gainsboro ;
    align-items: center;
    align-content:center;
    gap: 5px;
    justify-items: center;
    justify-content: center;

    display: grid;
    grid-template-columns: 5% 70px 1fr;
}
.SinglePlayerGame header section{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    grid-column: 3;
    gap: 5px;
    width: 100%;
    height:100%;
    margin: 0%;
    padding: 0%;    
    
    flex-direction: column;
}
.SinglePlayerGame header section .lifebar{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    grid-column: 3;
    gap: 3px;
    width: auto;
    height:auto;
    margin: 0%;
    margin-right: 10%;

    padding: 0%;    
    flex-direction: row;
}
.heart{
    width: 30px;
    height: 30px;
    background: url('../../Assets/coração.png');

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.brokenHeart{
    width: 30px;
    height: 30px;
    background: url('../../Assets/coraçãoVazio.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.SinglePlayerGame header section h1{
    margin: 0%;
    padding: 0%;
    padding-right: 10%;
    font-size: large;
    text-align: center;

}
.SinglePlayerGame header button{
    align-self: center;
    grid-row: 1;
    grid-column: 2;
    width: 100%;
    height: 100%;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 5px solid black;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    background-color: rgb(2, 182, 182);

}
