.SinglePlayerGame{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;

    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

}
.GameArea{
    display: flex;
    width: 100%;
    height: 85vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-image: url('../../Assets/lagoa.png');
    background-repeat: no-repeat;
    background-position: center;
}
.SinglePlayerGame header{
    display: flex;
    justify-content: center   ;
    gap: 20%;
    align-items: center;
    width: 100%;
    height: 15vh;
    background-color: #f0f0f0;
    box-shadow: -2.5px 5px 5px gainsboro;

}
.SinglePlayerGame header h1{
    font-size: 2.5em;
    font-weight: 700;
    float: left;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
    padding: 0%;
}
.SinglePlayerGame header img{
    mix-blend-mode: multiply;

    height: 60%;
    aspect-ratio: 1/1;
    border-radius: 10px;
    border: 5px solid black;
}
.SinglePlayerGame header button{
    mix-blend-mode: multiply;

    height: 60%;
    aspect-ratio: 1/1;
    background: none;
    border-radius: 10px;
    border: 5px solid black;
}
.IndicadorVisual{
    width: 80px;
    height: 50px;
    border: 2px solid black;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}