.StartScreen{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    align-items: center;}
.StartScreen h1{
    font-size: 2em;
    color: black;
    margin-bottom: 40px;
    animation: bounce 1.5s infinite;
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
}
.StartScreen button{
    width: 60%;
    max-width: 120px;
    height: 60px;
    border: 5px solid black;
    background-color: #00c3ff8e;
    border-radius: 5px;
}