.paginaSelecao {
    position: absolute;


    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: auto;   
    background-color: #85e1fd;
    z-index: 1;
    margin: 0;
    top: 0;
    padding: 0%;
}

.paginaSelecao li{
    margin-top: 50px;
    flex-direction: column;
    list-style-type: none;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.seletorDeFase {
    width: 50%;
    max-width: 250px;
    aspect-ratio: 1/1;
    border-radius: 5%;
    border: 10px solid black;
    background-color: #00c3ff8e;
}