.paginaSelecao {
    position: absolute;


    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: auto;   
    background-color: white;
    z-index: 1;
    margin: 0;
    top: 0;
    padding: 0%;
}
.paginaSelecao header{
    height: 80px;
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 10px;
    
}
.paginaSelecao header button{
    margin-left: 40px;
    background-color: rgb(2, 182, 182);
}
.paginaSelecao ol li{
    margin-top: 50px;
    
    flex-direction: column;
    list-style-type: none;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
;
}

.seletorDeFase {
    width: 50%;
    max-width: 250px;
    aspect-ratio: 1/1;
    background: url('../../../Assets//adam.webp');
    background-size: cover;
    background-position: center;
    border-radius: 5%;
    border: 10px solid #00c3ff;
    background-color: #00c3ff8e;
}