.paginaSelecao {
    position: absolute;


    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: auto;   
    background-color: white;
    z-index: 20;
    margin: 0;
    top: 0;
    padding: 0%;
}
.paginaSelecao header{
    width: 100%;
    height: 80px;
    background-color: #85e1fd;

  
    box-shadow: -2.5px 2.5px 5px gainsboro ;
    align-items: center;
    align-content:center;
    gap: 5px;
    justify-items: center;
    justify-content: center;

    display: grid;
    grid-template-columns: 5% 70px 1fr;
    grid-template-rows: 1fr;
}
.paginaSelecao header button{
    margin-left: 40px;
    width: 100%;
    height: 50px;
    background-color: rgb(2, 182, 182);
}
.paginaSelecao ol{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    padding-top: 50px;

}
.paginaSelecao ol li{
    
    flex-direction: column;
    list-style-type: none;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 80%;

}

.seletorDeFase {
    width: 80%;
    max-width: 250px;
    aspect-ratio: 1/1;
    background-size: cover;
    background-position: center;
    border-radius: 5%;
    border: 10px solid black;
    background-color: #00c3ff8e;
}